html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
  padding: 0;
  margin: 0;
}
.wrapper {
    width: 400px;
}

.calculator-buttons{
    display: grid; /*makes a grid with the buttons*/
    grid-template-columns: repeat(4, 1fr); /*4 columns all of equal width*/
    grid-template-rows: repeat(5, 1fr); /*5 rows all of equual width*/
    background-color: black;
    justify-items: center;
    align-items: center;
    row-gap: 5px;
    padding: 10px;
}


.calculator-button{
    border-radius: 50%;
    background-color: #232323;
    color: white;
    width: 75px;
    height: 75px;
    border: none;
    font-size: 2rem;
    text-align: center;
}

.calculator-button:hover{
    color: #232323;
    background-color: white;
}

.operation-button{
    background-color: #fe9808;
}

.operation-button:hover{
    background-color: white;
    color: #fe9808;
}

.equal-button{
    background-color: #fe9808;
}

.equal-button:hover{
    background-color: white;
    color: #fe9808;
}

.top-row-button{
    background-color: #555555;
}

.top-row-button:hover{
    color: #555555;
    background-color: white;
}

.calculator-numbers{
    background-color: black;
    max-width: 100%;
    width: 100%;
    height: 100px;
    color: white;
    text-align: right;
    letter-spacing: 0.25rem;
    font-size: 3rem;
    overflow-x: auto;
}

.calculator-numbers::-webkit-scrollbar{
    display: none;
}

